

@font-face {
  font-family: "Segoe";
  src: url("./fonts/segoepr.ttf");
}

.wrapper {
  /* background-color: #ffe082; */
  background-color: lightcyan;
  margin-top: 50px !important;
  padding-bottom: 100px !important;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);

}

.headingImg {
  border: 1px solid black;
  border-radius: 6px !important;
  /* vertical-align: middle; */
  margin-right: 10px;
}

.title {
  overflow-wrap: break-word;
  /* border: 1px solid green; */
  text-align: center;
  margin: 30px auto 10px auto !important;
}

.subtitle {
  margin: 10px auto 30px auto !important;
  overflow-wrap: break-word;
  /* border: 1px solid blue; */
  text-align: center;
}

 .MuiFormLabel-root {
  /* color: #c43e00 !important; */
   color:  rgba(0, 0, 0, 0.54); 
}

.MuiOutlinedInput-notchedOutline{
  border: 1px solid  rgba(0, 0, 0, 0.54) !important;

}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  /* border-color: #ff6f00 !important; */
  border:2px solid #ff6f00 !important;
  /* color: rgba(0, 0, 0, 0.54) !important; */

}

.MuiFormLabel-root.Mui-focused{
  color: #ffa040 !important;

}


.input{
  width: 90%;
}

/* .submit {
  display: flex;
  justify-content: center;
} */

.icon {
  color: #ff6f00;
  font-size: 4rem !important;
  cursor: pointer;
}

.row-container{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  margin-right: 10px;
  margin-left: 10px;
  word-break: break-all;

}

.row-container-linethrough{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  margin-right: 10px;
  margin-left: 10px;
  word-break: break-all;
  text-decoration: line-through;
}

.row-title {
  font-family: 'Segoe', Verdana, sans-serif;
  font-size: 1.15rem;
  /* border: 1px solid yellow; */

}

.free{
  text-align: center;
  font-size: 1.15rem;

}

.row-icon-container{
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  margin-left: 5px;
}

.row-icon {
  font-size: 1.20rem !important;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px ;
}

.row-icon.edit {
  color:blue;
}

.row-icon.del {
  color:red;
}

.row-icon:hover {
  color: #ff6f00;
}